# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore variable files containing secrets
*.tfvars
*.tfvars.json

# Ignore override files (used for local changes)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Lock file (optional — keep if you want deterministic provider versions)
# .terraform.lock.hcl

# Sensitive output plan files
*.plan

# Backup files created by Terraform
*.backup


https://github.com/itsmetohirr/terra-tasks.git
